<div class="container-fluid mt-5" *ngIf="!bookingInfo;else activeRide">
  <!-- <button class="btn btn-primary" (click)="getNearByCabs()">Get Cab's near by</button> -->


  <ul class="list-group" *ngIf="listOfCabs && listOfCabs.length>=0;else noCabs">
    <li class="list-group-item" *ngFor="let cab of listOfCabs;let i=index">
      {{cab.cabRegiNo}}
      ({{((cab.distance || 0)| number) +' meters'}})

      <button class="btn btn-primary float-right" (click)="bookCab(cab)">Book</button>
    </li>
  </ul>

  <ng-template #noCabs>
    <span class="">
      No Cabs Available currently
    </span>
  </ng-template>


  <div class="container m-2">

    <div class="row">
      <div class="col-8">
        <select id="cars" [(ngModel)]="cabType" name="cars">
          <option value="-1">Any</option>
          <option *ngFor="let type of cabTypeLabels;let i=index" value="{{i}}">{{type}}</option>
        </select>
      </div>
      <div class="col-4">
        <button class="btn btn-primary" (click)="bookNearMyCab()">Book Near By Cab</button>
      </div>
    </div>
  </div>
</div>


<ng-template #activeRide>
  <span class="">
    <button class="btn btn-danger" (click)="endRide()">End Ride</button>
  </span>
</ng-template>